html,body{
	width:100%;
	height:100%;
	overflow: hidden;
}
nav{
	position: absolute;
	top:0;
	width:100%;
	height:20%;
	background-color: black;
	color:white;
}
nav .n{
	font-size: 5vw;
	display: inline-block;
}
nav .navleft{
	position: relative;
	left:0%;
}
nav .navmid{
	position: relative;
	left:15%;
}
nav .navright{
	position: relative;
	left:35%;
}
.lower{
	position: absolute;
	top:20%;
}
.lower button{
	font-size: 5vw;
	margin: 10%;
	position: relative;
	left:50%;
}
